*{
	box-sizing:  border-box;
}
body{
	margin: 0;
	background-image: url(image/Background-nature.jpg);
	position: relative;
	background-size: cover;
	background-position: center;
	height: 1000px;

}

.from-area{
	width: 500px;
	height: 680px;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 20px auto;
	box-shadow: +3px +3px +10px #007f7f;
	box-shadow: -10px -10px -10px #007f7f;	
	padding: 50px;
	box-sizing: border-box;
	
}
.ami h2{
	color: #fff;
	margin: 0 0 30px;
	text-align: center;
}

.ami h3{
	
	color: #fff;
	margin: 0 0 0px;
	text-decoration: none;
}
.from-area input{
	width: 100%;
	margin-bottom: 10px; 
	padding: 11px; 
 }

.from-area form select{
	width: 109px;
	padding: 9px;
	margin: 0 4px 9px 14px;	
}


.from-area form input[type=submit]{
	width:auto;
    border: none;
    background: #19e097;
    padding: 8px 20px;
    border-radius: 5px;
    margin-bottom: 0;
    float: right;
    outline: none;
    color: #fff; 
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;


}

.from-area form input[type=radio]{
	width: 5px;
	
}
.tmi label{
	color: #fff;
	
}
input{
	border: none;
	background: none;
	border-bottom: 1px solid #fff;
	outline: none;
	color: #fff;
}

